<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="A Key" value="A value" />
    <add key="Another Key" value="Another value"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Test" connectionString="Data Source=myServerAddress;Initial Catalog=myDataBase;Integrated Security=SSPI;"/>
    <add name="Test2" connectionString="Data Source=myOtherServerAddress;Initial Catalog=myOtherDataBase;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>