<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sampleSection" type="ConfigurationManagerWrapper.Test.SampleSectionProvider, ConfigurationManagerWrapper.Test, Version=1.0.0.0, Culture=neutral"/>
  </configSections>

  <sampleSection global ="true" />  
  
</configuration>