<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="byte value" value="123" />
    <add key="sbyte value" value="-99" />
    <add key="int value" value="2147483647" />
    <add key="uint value" value="4294967295" />
    <add key="short value" value="32767" />
    <add key="ushort value" value="65535" />
    <add key="long value" value="922337203685477507" />
    <add key="ulong value" value="18446744073709551615" />
    <add key="bool value" value="true" />
    <add key="float value" value="1.0" />
    <add key="double value" value="1.0" />
    <add key="decimal value" value="1.0" />
    <add key="char value" value="A"/>
    <add key="short UK date value" value="13/10/2011" />
    <add key="short US date value" value="10/13/2011" />
    <add key="short big endian date value" value="2011-10-13" />
    <add key="long UK date value" value="13 September 2011" />
    <add key="long US date value" value="September 13 2011" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Test" connectionString="Data Source=myServerAddress;Initial Catalog=myDataBase;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>